$SUorange: #F76900;
$SUblue: #000E54;
$font_primary: Arial;
$font_secondary: Georgia;
$color-orange: #F76900;
$color-blue: #000E54;
$color-light-gray: #EDEDED;

$color_primary: #1ed760;
$color_gray: #4a4a4a;
